# SPDX-FileCopyrightText: 2023-2025 Nicotine+ Contributors
# SPDX-License-Identifier: GPL-3.0-or-later

# Classify man pages as documentation
*.1 linguist-documentation

# Include UI files in language stats
*.ui linguist-detectable
