# Temporary translation files
languages/nicotine-*.pot

# Python byte code files
*.pyc

# Pot backup files
*.po~

# Ignore venv files
venv/*

# Ignore packaging directories and files
install.txt
MANIFEST
build/
dist/
nicotine.egg-info/
packaging/debian/files
