# Temporary translation files
languages/nicotine-*.pot

# Python byte code files
*.pyc

# Pot backup files
*.po~

# Ignore venv files
venv/*

# Ignore packaging directories and files
MANIFEST
build/
dist/
debian/files
debian/.debhelper
debian/*.debhelper*
debian/nicotine
debian/nicotine.substvars
.pybuild

# Ignore IDE, emacs and other system files
\#*#
.idea
.venv

.mypy_cache
