# This file is responsible for including all necessary files in the source distribution
# https://docs.python.org/3/distutils/sourcedist.html

recursive-include data *.in
recursive-include po *
recursive-include pynicotine *
recursive-include test *

recursive-exclude * *.desktop
recursive-exclude * *.metainfo.xml
recursive-exclude * *.mo
recursive-exclude * *.pyc
recursive-exclude test *.db
recursive-exclude test temp_config*
