## DEP-8 continuous integration tests.

# Verify that package is installed...
Test-Command: nicotine --version | grep Nicotine+
Depends: @
Restrictions: isolation-container

# Perform integration and unit tests...
Test-Command: xvfb-run py.test-3
Depends: @
Restrictions: isolation-container
