# DEP-8 continuous integration tests.
#
#  TODO: Make integration testing run
#

Test-Command: nicotine --version | grep Nicotine+
Depends: @
Restrictions: isolation-container
Features: test-name=test-version

Test-Command: pytest-3 tests/unit
Depends: @, python3-pytest
Restrictions: isolation-container
Features: test-name=unit-tests

Test-Command: xvfb-run -a python3 tests/integration/run_app.py
Depends: @, python3-dogtail, xvfb
Restrictions: isolation-container
Features: test-name=integration-tests
