Source: nicotine
Section: net
Priority: optional
Maintainer: Nicotine+ Team <nicotine-team@lists.launchpad.net>
Standards-Version: 4.1.4.1
Build-Depends:
    appstream,
    debhelper-compat (= 11),
    devscripts,
    dh-python,
    gettext,
    gir1.2-gtk-3.0,
    lintian,
    python3 (>= 3.6),
    python3-gdbm,
    python3-gi,
    python3-pytest,
    xvfb
Vcs-Git: https://github.com/Nicotine-Plus/nicotine-plus.git
Vcs-browser: https://github.com/Nicotine-Plus/nicotine-plus
X-Python-Version: >= 3.6
Homepage: https://nicotine-plus.org
Rules-Requires-Root: no

Package: nicotine
Architecture: all
Depends:
    ${python3:Depends},
    ${misc:Depends},
    gir1.2-gtk-3.0,
    python3 (>= 3.6),
    python3-gdbm,
    python3-gi
Recommends:
    gir1.2-ayatanaappindicator3-0.1 | gir1.2-appindicator3-0.1,
    gir1.2-gspell-1
Description: graphical client for Soulseek P2P network
 Nicotine+ is a graphical client for the Soulseek peer-to-peer
 file sharing network.
 .
 Nicotine+ aims to be a pleasant, Free and Open Source (FOSS)
 alternative to the official Soulseek client, providing additional
 functionality while keeping current with the Soulseek protocol.

