[Desktop Entry]
Name=Nicotine-Plus
Comment=SoulSeek filesharing client
Exec=nicotine.py
Icon=nicotine-plus
Terminal=false
Type=Application
Categories=Network;
StartupNotify=true
