name: Packaging

on: [push, pull_request]

jobs:

  debian:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install python3-build
          sudo apt build-dep .

      - name: Build Debian package
        run: |
          python3 -m build --sdist --no-isolation
          mk-origtargz dist/nicotine-plus-*.tar.gz
          debuild -sa -us -uc

      - name: Prepare artifacts
        run: |
          mkdir build/package/
          cp -Lr ../nicotine_* build/package/

      - name: Archive artifacts
        uses: actions/upload-artifact@v3
        with:
          name: debian-package
          path: build/package/

  flatpak:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: [x86_64]
    container:
      image: bilelmoussaoui/flatpak-github-actions:gnome-45
      options: --privileged
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Build Flatpak package
        uses: flatpak/flatpak-github-actions/flatpak-builder@v6
        with:
          bundle: flatpak-package.flatpak
          manifest-path: packaging/flatpak/org.nicotine_plus.Nicotine.json
          cache-key: flatpak-builder-${{ github.sha }}

  snap:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: [x86_64]
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Build Snap package
        uses: snapcore/action-build@v1
        id: build-snap

      - name: Install Snap package
        run: sudo snap install --dangerous ${{ steps.build-snap.outputs.snap }}

      - name: Archive artifacts
        uses: actions/upload-artifact@v3
        with:
          name: snap-${{ matrix.arch }}-package
          path: ${{ steps.build-snap.outputs.snap }}

  windows:
    runs-on: windows-latest
    strategy:
      matrix:
        arch: [x86_64]
    defaults:
      run:
        shell: msys2 {0}
    env:
      NICOTINE_GTK_VERSION: 4
      NICOTINE_LIBADWAITA: 1
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup msys2
        uses: msys2/setup-msys2@v2
        with:
          msystem: MINGW64
          release: false
          update: true
          install: >-
            mingw-w64-${{ matrix.arch }}-angleproject
            mingw-w64-${{ matrix.arch }}-ca-certificates
            mingw-w64-${{ matrix.arch }}-gettext
            mingw-w64-${{ matrix.arch }}-gtk${{ env.NICOTINE_GTK_VERSION }}
            mingw-w64-${{ matrix.arch }}-python-build
            mingw-w64-${{ matrix.arch }}-python-cx-freeze
            mingw-w64-${{ matrix.arch }}-python-pip
            mingw-w64-${{ matrix.arch }}-python-pycodestyle
            mingw-w64-${{ matrix.arch }}-python-pylint
            mingw-w64-${{ matrix.arch }}-python-gobject

      - name: Install additional dependencies
        run: python3 packaging/windows/dependencies.py

      - name: Freeze application
        run: python3 packaging/windows/setup.py bdist_msi

      - name: Archive installer artifacts
        uses: actions/upload-artifact@v3
        with:
          name: windows-${{ matrix.arch }}-installer
          path: packaging/windows/build/*.msi

      - name: Archive package artifacts
        uses: actions/upload-artifact@v3
        with:
          name: windows-${{ matrix.arch }}-package
          path: packaging/windows/build/package

  macos:
    runs-on: macos-12
    env:
      NICOTINE_GTK_VERSION: 4
      NICOTINE_LIBADWAITA: 1
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set system language
        run: defaults write NSGlobalDomain AppleLanguages "(en-US)"

      - name: Install build dependencies
        run: |
          brew uninstall --ignore-dependencies python@3.11
          brew install --overwrite python@3.11
          brew update
          python3 packaging/macos/dependencies.py

      - name: Freeze application
        run: python3 packaging/macos/setup.py bdist_dmg

      - name: Archive installer artifacts
        uses: actions/upload-artifact@v3
        with:
          name: macos-installer
          path: packaging/macos/build/*.dmg
