name: Packaging

on: [push, pull_request]

jobs:

  debian:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt build-dep .

      - name: Build Debian package
        run: |
          python3 setup.py sdist
          mk-origtargz dist/nicotine-plus-*.tar.gz
          debuild -sa -us -uc

      - name: Prepare artifacts
        run: |
          mkdir ../build/
          cp -Lr ../nicotine_* ../build/

      - name: Archive artifacts
        uses: actions/upload-artifact@v1
        with:
          name: debian-package
          path: ../build/

  flatpak:
    runs-on: ubuntu-20.04
    container:
      image: bilelmoussaoui/flatpak-github-actions:gnome-42
      options: --privileged
    steps:
    - uses: actions/checkout@v2
    - uses: bilelmoussaoui/flatpak-github-actions/flatpak-builder@v3
      with:
        bundle: flatpak-package.flatpak
        manifest-path: packaging/flatpak/org.nicotine_plus.Nicotine.json
        run-tests: true
        cache-key: flatpak-builder-${{ github.sha }}

  windows:
    runs-on: windows-2019
    strategy:
      matrix:
        include: [
          { msystem: MINGW64, arch: x86_64 },
          { msystem: MINGW32, arch: i686 },
        ]
    defaults:
      run:
        shell: msys2 {0}
    env:
      ARCH: ${{ matrix.arch }}
      NICOTINE_GTK_VERSION: 3
      NICOTINE_LIBADWAITA: 0
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Setup msys2
        uses: msys2/setup-msys2@v2
        with:
          msystem: ${{ matrix.msystem }}
          update: true

      - name: Install build dependencies
        run: |
          sed -i s'/SigLevel.*/SigLevel = Never/'g /etc/pacman.conf
          pacman --noconfirm -S --needed mingw-w64-$ARCH-python
          python3 packaging/windows/dependencies_core.py
          python3 packaging/windows/dependencies_packaging.py

      - name: Freeze application
        run: |
          python3 packaging/windows/setup.py bdist_msi

      - name: Archive installer artifacts
        uses: actions/upload-artifact@v2
        with:
          name: windows-${{ matrix.arch }}-installer
          path: packaging/windows/build/*.msi

      - name: Archive package artifacts
        uses: actions/upload-artifact@v2
        with:
          name: windows-${{ matrix.arch }}-package
          path: packaging/windows/build/package

  macos:
    runs-on: macos-10.15
    env:
      NICOTINE_GTK_VERSION: 4
      NICOTINE_LIBADWAITA: 1
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set system language
        run: defaults write NSGlobalDomain AppleLanguages "(en-US)"

      - name: Install build dependencies
        run: |
          brew install python
          python3 packaging/macos/dependencies_core.py
          python3 packaging/macos/dependencies_packaging.py

      - name: Freeze application
        run: |
          python3 packaging/macos/setup.py bdist_dmg

      - name: Archive installer artifacts
        uses: actions/upload-artifact@v2
        with:
          name: macos-installer
          path: packaging/macos/build/*.dmg
