name: In-Tree Unit Tests

on: [push, pull_request]

jobs:

  ubuntu:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: [3.5, 3.6, 3.7, 3.8, 3.9, 3.10.0-rc.1, pypy-3.6, pypy-3.7]
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install gir1.2-gtk-3.0 libgirepository1.0-dev
          python -m pip install flake8 pygobject pylint

      - name: Linter
        run: |
          python -m flake8
          python -m pylint pynicotine test

      - name: Integration and unit tests
        run: |
          xvfb-run python -m unittest

  windows:
    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}
    strategy:
      matrix:
        gtk: [3, 4]
    env:
      NICOTINE_GTK_VERSION: ${{ matrix.gtk }}
      GSK_RENDERER: cairo
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Setup msys2
        uses: msys2/setup-msys2@v2
        with:
          msystem: MINGW64
          update: true

      - name: Install dependencies
        run: |
          pacman --noconfirm -S --needed mingw-w64-x86_64-python
          python3 packaging/windows/dependencies_core.py

      - name: Linter
        run: |
          python3 -m flake8
          python3 -m pylint pynicotine test

      - name: Integration and unit tests
        run: |
          python3 -m unittest

  macos:
    runs-on: macos-latest
    strategy:
      matrix:
        gtk: [3, 4]
    env:
      NICOTINE_GTK_VERSION: ${{ matrix.gtk }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Install dependencies
        run: |
          python3 packaging/macos/dependencies_core.py

      - name: Linter
        run: |
          python3 -m flake8
          python3 -m pylint pynicotine test

      - name: Integration and unit tests
        run: |
          python3 -m unittest
