name: Tests

on: [push, pull_request]

jobs:

  python:
    strategy:
      fail-fast: false
      matrix:
        python: ['3.6', '3.7', '3.8', '3.9', '3.10', '3.11', '3.12', 'pypy-3.6', 'pypy-3.7', 'pypy-3.8', 'pypy-3.9', 'pypy-3.10']
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
          cache: 'pip'
          cache-dependency-path: setup.py

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install gettext gir1.2-gtk-3.0 libgirepository1.0-dev libgtk-3-bin
          python -m pip install build .[tests]

      - name: PEP 8 style checks
        run: python -m pycodestyle

      - name: Linting
        run: python -m pylint --recursive=y .

      - name: Integration and unit tests
        run: python -m unittest -v

      - name: Build
        run: python -m build

  ubuntu-debian:
    strategy:
      fail-fast: false
      matrix:
        container: ['debian:bookworm', 'ubuntu:jammy', 'ubuntu:focal']
    runs-on: ubuntu-latest
    container: ${{ matrix.container }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install autopkgtest dependencies
        run: |
          apt update
          apt -y install autopkgtest

      - name: Run autopkgtest
        run: autopkgtest . -- null

  fedora-rocky:
    strategy:
      fail-fast: false
      matrix:
        container: ['fedora:rawhide', 'rockylinux:8']
        gtk: [3, 4]
        exclude:
          - container: 'rockylinux:8'
            gtk: 4
    runs-on: ubuntu-latest
    container: ${{ matrix.container }}
    env:
      GSK_RENDERER: cairo
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install dependencies
        run: dnf -y install gettext gtk${{ matrix.gtk }} python3 python3-gobject util-linux

      - name: Install dependencies (Fedora)
        if: matrix.container == 'fedora:rawhide'
        run: dnf -y install pylint python3-build python3-pycodestyle

      - name: Install dependencies (Rocky Linux)
        if: matrix.container == 'rockylinux:8'
        run: |
          dnf -y install gcc python3-devel python3-pip
          python3 -m pip install --upgrade setuptools
          python3 -m pip install build .[tests]

      - name: PEP 8 style checks
        run: python3 -m pycodestyle

      - name: Linting
        run: python3 -m pylint --recursive=y .

      - name: Integration and unit tests
        run: python3 -m unittest -v

      - name: Build
        run: python3 -m build

  windows:
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        gtk: [3, 4]
    defaults:
      run:
        shell: msys2 {0}
    env:
      ARCH: x86_64
      NICOTINE_GTK_VERSION: ${{ matrix.gtk }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup msys2
        uses: msys2/setup-msys2@v2
        with:
          msystem: MINGW64
          release: false
          install: >-
            mingw-w64-${{ env.ARCH }}-gettext
            mingw-w64-${{ env.ARCH }}-gtk${{ matrix.gtk }}
            mingw-w64-${{ env.ARCH }}-python-build
            mingw-w64-${{ env.ARCH }}-python-cx-freeze
            mingw-w64-${{ env.ARCH }}-python-pip
            mingw-w64-${{ env.ARCH }}-python-pycodestyle
            mingw-w64-${{ env.ARCH }}-python-pylint
            mingw-w64-${{ env.ARCH }}-python-gobject

      - name: Install additional dependencies
        run: python3 packaging/windows/dependencies.py

      - name: PEP 8 style checks
        run: python3 -m pycodestyle

      - name: Linting
        run: python3 -m pylint --recursive=y .

      - name: Integration and unit tests
        run: python3 -m unittest -v

      - name: Build
        run: python3 -m build

  macos:
    runs-on: macos-12
    strategy:
      fail-fast: false
      matrix:
        gtk: [3, 4]
    env:
      NICOTINE_GTK_VERSION: ${{ matrix.gtk }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set system language
        run: defaults write NSGlobalDomain AppleLanguages "(en-US)"

      - name: Install dependencies
        run: |
          brew uninstall python@3.11
          brew install --overwrite python@3.11
          python3 packaging/macos/dependencies.py

      - name: PEP 8 style checks
        run: python3 -m pycodestyle

      - name: Linting
        run: python3 -m pylint --recursive=y .

      - name: Integration and unit tests
        run: python3 -m unittest -v

      - name: Build
        run: python3 -m build
