## DEP-8 continuous integration tests.

# Basic sanity check...
Test-Command: nicotine --version | grep Nicotine+
Depends: @
Restrictions: isolation-container, superficial
Features: test-name=test-version

# Perform local in-tree unit tests...
Test-Command: py.test-3 tests/unit
Depends: @, python3-pytest
Restrictions: isolation-container
Features: test-name=unit-tests

# Install the package and try running the GUI in a fake frame buffer...
Tests: test-installed-artifacts.sh
Depends: @, python3-pip, xvfb
Restrictions: isolation-container

